In [3]:
import pandas as pd

In [15]:
root_folder = "/home/adisri/ml/proj"

In [41]:
data = pd.read_csv(f'{root_folder}/data/covtype.csv')

In [43]:
len(data)

581012

In [50]:
data.sample(5)[d.columns[-3: ]]

        Soil_Type39  Soil_Type40  Cover_Type
431788            0            0           1
123604            0            0           2
191339            0            0           1
495464            0            0           1
73177             0            0           1

In [45]:
data.sample(5)[list(d.columns[:10]) + list(d.columns[-1:])]

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Cover_Type
520204,3241,103,16,285,45,108,245,217,96,601,2
326736,2860,245,20,443,28,899,176,251,209,1739,5
148101,2901,133,16,192,46,3397,244,230,109,2764,2
452647,3139,191,1,85,6,967,219,239,157,1910,1
408927,2883,108,5,90,2,2143,229,234,138,2696,2